

body {
	background-color: white;
	background-size: 1500px 200px;
	background-repeat: repeat-x;
}
h1 a {
	color: black;
	font-family: 'Dawning of a New Day', cursive;
	margin: 25px;

	font-size: 60px;
	text-align: left;
}

h2 {
	color: rgb(136, 136, 136);
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	padding-left: 20px;
	margin-top: 45px;
	font-size: 18px;
}
h2 a:hover {

    color: black;
  	text-decoration: none;
}
h2 a.current {

		color: black;
	}
h3 {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	font-size: 20px;
	margin-top: 62px;
}
h4 {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	font-size: 24px;
	margin-top: 62px;
}
p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
	font-size: 20px;
}

/* nav {
  margin: 0 -20px;
}
nav ul {
      list-style-type: none; /* remove bullets */
      margin: 20px 0;
      padding: 10px;
      /* background-color: rgb(255, 255, 255); */
      text-align: center;
			width: 100%;
}

/* nav li {
      display: inline; /* change li from block level element to inline */
      padding: 5px 5px 5px 5px;
      font-family: 'IM Fell English', serif;
} */
/* nav a:link, nav a:visited {
      color: black;
  	  background-color: none;
	  	border-radius: 2px; /*round the corners on the nav items*/
  	  text-decoration: none; /*remove default underlines from links*/
  	  padding: 6px 8px;
  	  margin: 0;
  	  font-size: 1em;
} */
/* nav a:hover {
  	background-color: rgb(173, 171, 171);
    color: black;
  	text-decoration: none;
}
nav a.current {
  	background-color: rgb(173, 171, 171);
		color: black;
} */ */

figure {
	padding: 25px;
}
article {
	padding: 25px;
}
.large-12, .large-6, .large-4, .large-3 {
	padding: 25px;
}
a {
	color: rgb(136, 136, 136);
}
a:hover {
	color: black;
}
footer {
	color: black;
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
	font-size: 10px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
}
div.div1 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;


}
div.div2 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;

}
div.div3 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;

}
div.div4 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;

}
div.div5 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;

}
div.div6 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;

}
div.div7 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;

}
div.div8 {
	margin-top: 40px;
	margin-left: 80px;
	width: 200px;


}
div.div9 {

	color: rgb(136, 136, 136);
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	padding-left: 20px;
	margin-top: 45px;
	font-size: 18px;


}

@import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

body{
  background: white;
	/* background: #f9f9f9; */
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container{
    width: 33.33333%;
  }
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}
