h1{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:4%;
	top:40px;
	opacity: 0.95;
}
h2{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:117%;
	top:40px;
	opacity: 0.95;
}
#h4ca{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:135%;
	top:170px;
	opacity: 0.95;
}
#h4az{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:230%;
	top:170px;
	opacity: 0.95;
}
#h4nm{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:335%;
	top:170px;
	opacity: 0.95;
}
#h4tx{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:430%;
	top:170px;
	opacity: 0.95;
}
#h4ok{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:540%;
	top:170px;
	opacity: 0.95;
}
#h4ks{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:630%;
	top:170px;
	opacity: 0.95;
}
#h4mi{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:730%;
	top:170px;
	opacity: 0.95;
}
#h4il{
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:830%;
	top:190px;
	opacity: 0.95;
}
#az{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:217%;
	top:40px;
	opacity: 0.95;
}
#nm{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:317%;
	top:40px;
	opacity: 0.95;
}
#tx{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:417%;
	top:40px;
	opacity: 0.95;
}
#ok{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:517%;
	top:40px;
	opacity: 0.95;
}
#ks{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:617%;
	top:40px;
	opacity: 0.95;
}
#mi{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:717%;
	top:40px;
	opacity: 0.95;
}
#il{
	font-family: 'Yellowtail', cursive;
	font-size: 110px;
	color: rgb(236, 217, 191);
	position:absolute;
	width:90%;
	height:400px;
	left:817%;
	top:40px;
	opacity: 0.95;
}
#stage{
  height:300px;
  width:10000px;
  margin:100px auto;
  /* border:1px solid red; */

}
#img_66{
	position:absolute;
	width:90%;
	height:500px;
	left:12%;
	top:90px;
	background:url(../img/66.png) no-repeat left top;z-index:;
}
/* #img_california{
	position:absolute;
	width:90%;
	height:300px;
	left:5%;
	top:20px;
	background:url(../img/california.png) no-repeat left top;z-index:;
} */
#img_whitesignca{
	position:absolute;
	width:90%;
	height:300px;
	left:100%;
	top:20px;
	background:url(../img/whitesignca.png) no-repeat left top;z-index:;
}
#img_whitesignaz{
	position:absolute;
	width:90%;
	height:300px;
	left:200%;
	top:20px;
	background:url(../img/whitesignaz.png) no-repeat left top;z-index:;
}
#img_whitesignnm{
	position:absolute;
	width:90%;
	height:300px;
	left:300%;
	top:20px;
	background:url(../img/whitesignnm.png) no-repeat left top;z-index:;
}
#img_whitesigntx{
	position:absolute;
	width:90%;
	height:300px;
	left:400%;
	top:20px;
	background:url(../img/whitesigntx.png) no-repeat left top;z-index:;
}
#img_whitesignok{
	position:absolute;
	width:90%;
	height:300px;
	left:500%;
	top:20px;
	background:url(../img/whitesignok.png) no-repeat left top;z-index:;
}
#img_whitesignks{
	position:absolute;
	width:90%;
	height:300px;
	left:600%;
	top:20px;
	background:url(../img/whitesignks.png) no-repeat left top;z-index:;
}
#img_whitesignmi{
	position:absolute;
	width:90%;
	height:300px;
	left:700%;
	top:20px;
	background:url(../img/whitesignmi.png) no-repeat left top;z-index:;
}
#img_whitesignil{
	position:absolute;
	width:90%;
	height:300px;
	left:800%;
	top:20px;
	background:url(../img/whitesignil.png) no-repeat left top;z-index:;
}
#img_lineca{
	position:absolute;
	width:100%;
	height:1100px;
	left:100%;
	top:-389px;
	background:url(../img/lineca.png) no-repeat left top;z-index:;
}
#img_lineaz{
	position:absolute;
	width:100%;
	height:1100px;
	left:200%;
	top:-389px;
	background:url(../img/lineaz.png) no-repeat left top;z-index:;
}
#img_linenm{
	position:absolute;
	width:100%;
	height:1100px;
	left:300%;
	top:-389px;
	background:url(../img/linenm.png) no-repeat left top;z-index:;
}
#img_linetx{
	position:absolute;
	width:100%;
	height:1100px;
	left:400%;
	top:-389px;
	background:url(../img/linetx.png) no-repeat left top;z-index:;
}
#img_lineok{
	position:absolute;
	width:100%;
	height:1100px;
	left:500%;
	top:-389px;
	background:url(../img/lineok2.png) no-repeat left top;z-index:;
}
#img_lineks{
	position:absolute;
	width:100%;
	height:1100px;
	left:600%;
	top:-389px;
	background:url(../img/lineks2.png) no-repeat left top;z-index:;
}
#img_linemi{
	position:absolute;
	width:100%;
	height:1100px;
	left:700%;
	top:-389px;
	background:url(../img/linemi.png) no-repeat left top;z-index:;
}
#img_lineil{
	position:absolute;
	width:100%;
	height:1100px;
	left:800%;
	top:-389px;
	background:url(../img/lineil.png) no-repeat left top;z-index:;
}
#img_withwheels{
	opacity: 0.95;
	position:fixed;
	width:90%;
	height:420px;
	left:54%;
	top:224px;
	background:url(../img/withwheels.png) no-repeat left top;z-index:;
}
